<div style="float: right; vertical-align:top">
  <button class="button" (click)="login()" *ngIf="!isAuthenticated()">
        Login
    </button>
  <div *ngIf="isAuthenticated()">
    <div>
      <div class="visible-sm visible-md visible-lg" style="padding:10px;">
        <div style="display:block; float:left; margin-right:10px" [ngStyle]="{'direction' : local.direction}">
          <div *ngIf="getUser()">{{getUser().profile.name}}</div>
          <button class="button-admin" style="padding-top:0px;" (click)="navigateToDashboard()">{{local.dashboard}}</button>
           | 
          <button *ngIf="isUserAdmin()" class="button-admin" style="padding-top:0px;" (click)="goToUserPage()">{{local.admin}}</button>
        </div>
        <div style="display:block; float:right">
          <img *ngIf="getUser()" style="border-radius: 25px; width: 40px; margin-right: 10px; margin-bottom: 5px;" src="{{profileImageService.getProfileImageUrl(getUser().profile.email)}}"
            alt="Image not found" onerror="this.onerror=null;this.src='../../assets/user.png';">
          <button class="button" (click)="logout()">
            {{local.logout}}
          </button>
        </div>
      </div>
      <div class="visible-xs" style="margin-top:15px; padding:0px; text-align:center;">
        <img *ngIf="getUser()" style="border-radius: 25px; width: 30px" src="{{profileImageService.getProfileImageUrl(getUser().profile.email)}}"
          alt="Image not found" onerror="this.onerror=null;this.src='../../assets/user.png';">
        <div style="display:block; float:right">
          <button *ngIf="isUserAdmin()" class="button-admin-small" style="clear:both; padding-top:0px;" (click)="goToUserPage()">Admin</button>
          <button class="button-small" style="display:block;padding-top:0px;" (click)="logout()">
            Logout
         </button>
        </div>
      </div>
    </div>
  </div>
</div>
